HELP.md
target/

### User Files ###
file/

### Logs ###
log/
*.log

### Setting ###
*.yml
*.xml
*.yaml

### Test Files ###
#**/test/*

### Except ###
!application.yml
!/src/main/java/*.java
!/src/main/resources/static/*
!/src/main/resources/templates/*.html
!.mvn/wrapper/maven-wrapper.jar
!pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

