<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>金融企业文稿追溯系统</title>
    <link rel="stylesheet" href="/css/femts.min.css">
    <style>

        .text-center {
            margin-top: 12%;
        }
    </style>
</head>
<body>
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>
    <p class="text-gray-500 mb-0">数据出错了...</p>
    <a href="index.html">&larr; 返回主页</a>
</div>
</body>
</html>