<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金融文稿追溯系统</title>
    <link rel="stylesheet" href="../static/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../static/vendor/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/femts.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <style>
        .container .side-bar {
            float: left;
            display: inline-block;
            width: 22%;
            min-height: 600px;
            border-right: 2px solid #c7c7c7;
            border-radius: 2px;
        }

        .el-tree {
            width: 100%;
            min-height: 600px;
            overflow-x: scroll;
            overflow-y: hidden;
            padding-right: 20px;
        }

        .el-tree>.el-tree-node {
            display: inline-block;
            min-width: 100%;
        }

        .container .frame {
            float: left;
            width: 78%;
            display: inline-block;
            min-height: 600px;
        }

        .container .side-bar span.el-tree-node__label {
            font-size: 15px;
        }
    </style>
</head>
<body>
<div id="app" @click="close_all">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" :aria-expanded="show_alert" @click.stop="show_alert=!show_alert">
                    <i class="fas fa-bell fa-fw"></i>
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="alertsDropdown" :class="{show:show_alert}">
                    <h6 class="dropdown-header">
                        Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" :aria-expanded="show_setting" @click.stop="show_setting=!show_setting">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Test User</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown"
                    :class="{show:show_setting}">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        帐号信息（不可用）
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        设置（不可用）
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        登出
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="container" style="max-width: 80rem">
        <div class="side-bar">
            <el-tree :load="loadNodes" lazy :props="props"></el-tree>
        </div>
        <div class="frame" id="docFrame" v-html="docHTML">
            <div>{{docHTML}}</div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
</body>
<script charset="utf-8" src="../static/vendor/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="../static/vendor/kindeditor/lang/zh-CN.js"></script>
<script src="../static/vendor/vue/vue.min.js"></script>
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/element-ui/lib/index.js"></script>
<script src="../static/js/femts.min.js"></script>
<script>
    KindEditor.options.filterMode = false;
    KindEditor.ready(function(K) {
        window.editor = K.create('#editor_id');
    });

    new Vue({
        el: '#app',
        data () {
            return {
                show_alert: false,
                show_setting: false,
                props: {
                    label: 'name',
                    children: 'zones',
                    isLeaf: 'leaf'
                },
                docHTML: ``
            }
        },
        methods: {
            close_all: function () {
                this.$data.show_alert = false;
                this.$data.show_setting = false;
            },
            handleNodeClick(data) {
                console.log(data);
            },
            loadNodes(node, resolve) {
                if (node.level === 0) {
                    return resolve([{ name: '金融企业文稿追溯系统' }]);
                }
                // if (node.level > 1) return resolve([]);

                // 模拟网络获取
                setTimeout(() => {
                    const data = [{
                        name: '金融企业文稿追溯系统节点1',
                        leaf: true
                    }, {
                        name: 'user username password 统标题2'
                    }];

                    resolve(data);
                }, 500);
            }
        }
    });
</script>
</html>